* {
    box-sizing: border-box;
}

.all {
    width: 100%;
    height: fit-content;
    display: flex;
    position: relative;
}

.Navbar {
    flex: 1.5;
    border: 1px solid #ffff;
    list-style-type: none;
    height: 100%;
    margin-left: 60px;
}

.NavItem {
    height: 35px;
    background-color: #FF779E;
    /* background-image: linear-gradient(to bottom,#f689ad,#ef84b4); */
    padding-left: 15px;
    padding-top: 7px;
    font-weight: 200;
    border: 1px solid #ffff;
    list-style-type: none;
    cursor: pointer;
}

.NavItemChild {
    /* color: rgb(225, 88, 161); */
    /* background-color: #fbf7f8; */
    background-color: #feacc4;
    margin-top: -2px;
    cursor: pointer;
    height: 40px;
    border: 1.5px solid #fdc5d6;
    /* border-top: 1.5px solid rgb(235, 181, 212); */
}


.contain_header_item {
    flex: 8;
    height: fit-content;
    display: flex;
    flex-direction: column;

}

.header_Item {
    display: flex;
    justify-content: space-between;
}

.icon-header {
    display: flex;
    justify-content: space-between;
    padding: 19px 10px
}

.header {
    width: 100%;
    height: 40px;
    /* background-image: linear-gradient(to bottom,#f689ad,#ef84b4); */
    background-color: #ef3167;
}



.name_Of_Nav {
    font-weight: 600;
    /* color: rgb(228, 102, 169); */
    font-size: 27px;
    color: #f24374;
    padding-left: 30px;
    padding-top: 30px;
}

#select_product_price {
    width: fit-content;
    height: 30px;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 0px 5px;
    margin: auto;
    border: 1px solid #ec4373;
    outline: none;
    border-radius: none;

}

.arrange_products {
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    padding-right: 70px;
    padding-top: 35px;
}

.containe_items {
    display: inline-flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    padding-top: 20px;
}

.item {
    width: 220px;
    height: 320px;
    margin-top: -6px;
    margin-left: 13px;
    margin-bottom: 15px;
}

.item:hover {
    border: 1px solid #FFC0CB;
    cursor: pointer;
}

.name_item {
    margin: 0px 10px;
    font-size: 12px;
}

.picture_item img {
    width: 200px;
    margin: 15px;
}

.list_Page {
    list-style-type: none;
    text-align: center;
}

.list_Page li {
    display: inline-block;
    background-color: #FF779E;
    /* background-image: linear-gradient(to bottom,#f87ea7,#ec6da6); */
    width: 30px;
    margin: 5px;
    height: 30px;
    color: #FFFF;
    padding-top: 5px;
}



footer {
    background-color: #ef3167;
    /* background-image: linear-gradient(to bottom,#f689ad,#ef84b4); */
    color: #ffffff;
    height: 30px;
    text-align: right;
    padding: 5px 10px
}

.priceContain {
    color: #d30000;
    font-weight: bold;
    text-align: center;
}

.icon-body {
    position: fixed;
    top: 32%;
    left: 97%;
    cursor: pointer;
}

.chatIcon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #ee3f62;
    position: fixed;
    top: 85%;
    text-align: center;
    margin-left: 7px;
    cursor: pointer;
}

.chatBox {
    position: fixed;
    top: 13%;
    left: 10px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
    border-radius: 10px;
    
}

#login{
    display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 25px;

}