*{
    box-sizing: border-box;
}

:root{
    --pink: #ef3167;
    --white: #fff;
    --pink2: #eb008b;
    
}

#heading{
    background-color: var(--pink);
}

#menu{
    display: flex;
    justify-content: space-around;
}

#logo{
    display: flex;
    justify-content: center;
}

#container{
    display: flex;
    justify-content: center;
}

#rightbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
    width: 50%;
    border-radius: 5px;
}

#rightbox1{
    display: flex;
    justify-content: center;
    align-items: center;    
    
}

#rightbox2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}

#rightbox3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
    
}
#leftbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 25px;
    margin-top: 25px;
    border: 1px solid var(--pink);
    border-radius: 10px;
    width: 50%;
}


#addtocart{
    display: flex;
    justify-content: end;
}


#footer{
    background-color: var(--pink);
}


