
body {
    margin: 0;
    font-family: Helvetica;
  } 
    
  
  #logo {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    
  }
  
  #category {
    background-color:#feacc4 ;
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
  
  }
  
  #product {
    background-color:#fdc5d6 ;
    padding: 5px; 
    border-bottom: 1px solid #ff779e;
    padding-left: 30px;
    font-size: 20px;
  
  ;
  }
  
  #login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    
  }
  
  
  .navbar-nav .nav-link {
    color: black !important;
  }
  
  .nav-link.active {
    background-color: transparent;
    border: none;
  }
  
  #footer {
    background-color: #fdc6d6;
    height: 200px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 40px;
    font-size: 20px;
  }
  
  .mySlides {display: none;}
  img {vertical-align: middle;}
  
  /* Slideshow container */
  .slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  }
  
  /* Caption text */
  .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  }
  
  .active {
  background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
  animation-name: fade;
  animation-duration: 1.5s;
  }
  
  @keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
  .text {font-size: 11px}
  }
  
  .pick {
    width: 33%;
    border: 1px solid black;
  }
  
  #tp {
    display: flex; !important
    flex-direction: column;
    justify-content: space-between;
  }